.ipynb_checkpoints/
__pycache__/
.mypy_cache
src/.mypy.ini
jobs/*.[e,o]*
notebooks/*
lightning_logs/*
_lightning_logs/*
src/models/*.ipynb
*.swp
*~
thirdparties
.coverage
src/MMDC_Downstream.egg-info/
.projectile
/jobs_trex/
/jobs/
/train.py
*anysat*
/configs/model/pastis_encoded_utae_mean.yaml
/configs/model/pastis_oe_*
/configs/experiment/pastis_oe_*
src/bin/*sweden*
